/*Side Navigation Menu */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-btn{
    border: double;
    border-radius: 25%;
    margin-top:1rem;
    margin-left:1rem;
}

/*Drop Down Page Index*/
.drop-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Login/Sign Up*/
.fan-login-container{
    float: right;
}

.fan-login{
    margin: 0.1rem;
    margin-top: 1.2rem;
    width: 60px;
}

/*Header*/
.hdr{
    background-color: black;
}

.top-hdr{
    font-size: 3rem;
    margin: 0.5rem;
    text-align: center;
    font-family: 'IM Fell French Canon SC', serif;
    color: white;
}

/*Hover Effect*/
.side-nav a:hover {
  color: #f1f1f1;/*This will change the color of the links when they are hovered over*/
}

.dropdown-content a:hover {
    background-color: rgb(37, 37, 37);/*This will change the color of the links when they are hovered over*/
}

.dropdown:hover .dropdown-content {
    display: block;/*This allows the dropdown menu to show on hover*/
}

.dropdown:hover .dropbtn {
    background-color: rgb(37, 37, 37);/*This will change the background color of the dropdown button when the dropdown content is shown */
}

/*Body*/
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/*Media Query*/
@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
}
@media screen and (max-width: 360px){
    .top-hdr{
        font-size: 1.8rem;
    }
    .nav-btn{
        margin-top: 0.5rem;
    }
    .fan-login{
        margin-top: 0.1rem;
    }
}