/*Heading*/
.heading{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #7249bd;
}

.align-right{
    text-align: right;
}

.hdr-color{
	text-decoration: underline;
}

.logo{
    background: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
	width: 190px;
    margin-left: 10px;
}

header{
    margin: 0;
    background-color: #202020;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.navcontainer{
    font-size: 0;
}

#nav li{
    padding: 0;
    font-size: 13px;
}

#nav{
    margin: 0;
}

.navitem{
    height: 90px;
    text-align: center;
    padding: 0;
}

.navitem a{
    width: 100%;
    text-decoration: none;
    height: 120px;
    color: #fafafa;
}

.navitem a i{
    padding-top: 20px;
    display: block;
    font-size: 25px;
    color: #fafafa;
}

.navitem a span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

/*Index*/

.index-title:hover,
.index-title:active,
.index-title:focus,
.index-title:active:focus{
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 23px;
	background-color: #b5aeae;
    color: #ff5cde;
}

.index-item:hover,
.index-item:active,
.index-item:focus,
.index-item:active:focus{
	text-decoration: underline;
}

.index{
	background-color: #404040;
	display: block;
	text-align: center;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: auto;
	border: 10px;
	border-color: #202020;
	border-style: solid;
	border-radius: 23px;
}

.index-toggle-title{
    text-decoration: underline;
	color: white;
}

.index-title{
	text-decoration: underline;
	color: white;
	font-size: 1.2vw;
}

.index ul li{
    list-style: none;
}

.index-item{
	color: white;
	font-size: 1vw;
}

/*Hoover*/

.hvr-sweep-to-bottom:before{
    background: #404040;
	height: 104px;
}


.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:active:focus{
    background-color: #7119FF;
    border-color: #7119FF;
    color: #B3AB00;
}

/*Button*/

.btn-purple{
    color: #fff500;
    background-color: #4600b8;
    border-color: #4600b8;
}



.btn-cta{
    font-weight: bold;
    border-radius: 23px;
    width: 150px;
    display: block;
    margin-right: 0;
    margin-top: 30px;
}

.pos{
	display: none;
}

/*Progress Bars*/

.progress-bar{
	color: #efff00;
}

.bg-success{
	color: #FF3B28;
}

.bg-warning{
	color: #C064EB;
}

.bg-shooter{
	color: #FFE487;
}

.bg-info{
	color: #FF8159;
}

.progress{
	height: 2rem;
	font-size: 1.1rem;
}

/*Body*/

body{
    background-color: #404040;
    color: white;
}

.header-background{
	background-color: #000000ba;
}

.p-area{
	margin: 10px;
}

.area-title{
	text-decoration: underline;
	margin-top: 10px;
	padding-top: 5px;
	color: #7249bd;
	background: url("../img/title-background.jpg");
	background-position: center;
}

.area-title h1{
	margin-left: 50px;
}

.picture{
	background: url("../img/background.jpg");
	background-position: center;
	background-size: cotain;
}

.picture2{
	background: url("../img/background2.jpg");
	background-position: center;
	background-size: cotain;
}

.games-left{
	width: 500px;
	margin: 5px;
	border-radius: 5%;
	border: 10px;
	border-style: solid;
	border-color: #202020;
	float: left;
}

.games-right{
	width: 500px;
	margin: 5px;
	border-radius: 5%;
	border: 10px;
	border-style: solid;
	border-color: #202020;
	float: right;
}

.games-center{
	width: 500px;
	margin: 5px;
	border-radius: 5%;
	border: 10px;
	border-style: solid;
	border-color: #202020;
	float: center;
}

.achievement-logo{
	width: 50px;
	height: 50px;
	display: block;
    margin-right: auto;
    margin-left: auto;
}

.achievement-text{
	text-align: center;
}

.game-divider{
	object-fit: cover;
	width: 100%;
	height: 120px;
	display: block;
    margin-right: auto;
    margin-left: auto;
}

.fan-forum{
	width: 90%;
	border: 10px;
	border-style: solid;
	border-radius: 23px;
	border-color: #202020;
}

.txt-center{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container{
	position: relative;
}

.youtube-direction{
	position: absolute;
    top: 16px;
    right: 35px;
    background-color: #000000cc;
    color: #b29ed5;
}

.youtube-direction-left{
    position: absolute;
    top: 16px;
    left: 35px;
    background-color: #000000cc;
    color: #b29ed5;
}

/*Light/Dark Toggle*/
.dark-mode {
  background-color: white;
  color: black;
}

/*Feedback Form*/

.feedback{
	margin: 10px;
}

.form-note{
	color: #b5b5b5;
	text-align: center;
	margin: 0;
}

/*Modal*/

.modal-style{
	width: 340px;
}

.btn--style{
    font-weight: bold;
    border-radius: 23px;
    width: 150px;
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



/*Footer*/

footer {
    background-color: #202020;
    color: #fafafa;
    margin: 0;
}

.small-print{
	font-size: 15px;
}

.icon{
    padding-bottom: 15px;
}

.icon li a i{
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    background: #8f8f8f;
	margin-left: 10px;
	margin-right: 10px;
}

.fa-facebook{
	color: #2C76FF;
}

.fa-twitter{
	color: #63ECFF;
}

.fa-instagram{
	color: black;
}

.fa-youtube{
	color: #FF3930;
}

.fa-twitch{
	color: #BC48C2;
}

.icon li a i:hover{
    background: #404040;
}

#footer-details{
    padding: 20px;
}

/*Media Queries*/

@media (min-width: 1024px){
	.btn-sm-pos{
		display: none;
	}
}

@media (max-width: 1500px){
	.index{
		display: none;
}

@media (max-width: 1024px){
	.youtube-direction-left,
	.youtube-direction{
		top: -17px;
		right: 0;
		left: 0;
		text-align: center;
	}
	.small-move{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.btn-sm-pos{
		display: none;
	}
	.games-right,
	.games-left{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 360px;
		background-size: contain;
	}
	.index{
		display: none;
	}
	.icon{
		margin-right: 30px;
	}
}

@media (max-width: 768px){
	.small-move{
		display: none;
	}
	.sm-sc-pos,
	.btn-sm-pos{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.logo{
		display: none;
	}
	.icon li h6{
		font-size: 12px;
	}
	
	.icon li a i{
		padding: 10px 0;
		font-size: 15px;
	    width: 25px;
        height: 25px;
	}
}
	
@media (max-width: 640px){
	.hdr-right{
		text-align: center;
	}
    .hvr-sweep-to-bottom:before{
    background: #404040;
    height: 90px;
	}
	.small-text{
		font-size: 12px;
	}
	.small-header{
		font-size: 14px;
	}
	.model-content{
		width: 350px;
	}
	.games-right,
	.games-left{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 360px;
		background-size: contain;
	}
	.sm-center{
		text-align: center;
		padding: 10px;
	}
	.small-move{
		display: none;
	}
	.btn-sm-pos,
	.area-title h1{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.progress-sm-sc-pos{
		padding-left: 50px;
		padding-right: 50px;
	}
	.small-screen{
		width: 220px;
	}
	
	.icon{
		margin-right: 0;
	}
	.sm-sc-policy{
		display: none;
	}
	.header-background{
		text-align: center;
	}
}

@media (max-width: 360px){
	.sm-sc-policy{
		display: inline;
	}
	.games-right,
	.games-left{
		width: 300px;
	}
}
